version: '3.9'

services:
  metabase:
    image: metabase/metabase:latest
    container_name: agri_dashboard_metabase
    ports:
      - "3000:3000"
    environment:
      MB_DB_FILE: /metabase-data/metabase.db
    volumes:
      - metabase-data:/metabase-data
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  metabase-data:
